.DS_Store
input-cache
output
temp
template
desktop.ini
*.dropbox
/input
ig.ini
package-list.json
/src-generated/resources/ig-expansion-parameters.json
/src-generated/resources/ig-new.json
/src-generated/resources/ig-new.xml
/src-generated/resources/ig-validation-parameters.json
